  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="home">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand" ui-sref="home">Doctor Dash</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="http://keen.github.io/dashboards/">Keen IO</a></li>
          <li><a href="https://github.com/angular/angular-seed">Angular Seed</a></li>
          <li><a href="http://startbootstrap.com/template-overviews/simple-sidebar/">Start Bootstrap</a></li>
          <li><a href="https://github.com/angular-ui/ui-router">UI Router</a></li>
		  <li><a href="https://github.com/pablojim/highcharts-ng">highcharts-ng</a></li>
        </ul>
		
      </div>
    </div>
  </div>
  
  
<div class="container">
	{{doctor}}
<form name="myform" class="form-horizontal col-xs-3">
	<div class="form-group">
<label>First Name</label>
    <input class="form-control" type="text" name="firstname" ng-model="doctor['First Name']" />
</div>
<div class="form-group">
<label>Middle Initial</label>
    <input class="form-control" type="text" name="middleinitial" ng-model="doctor['Middle Initial']" />
</div>
<div class="form-group">
<label>Last Name</label>
    <input class="form-control" type="text" name="lastname" ng-model="doctor['Last Name/Organization Name']" />
</div>
<div class="form-group">
<label>Credentials</label>
    <input class="form-control" type="text" name="credentials" ng-model="doctor['Credentials']" />
</div>
<div class="form-group">
<label>Street Address 1</label>
    <input class="form-control" type="text" name="address1" ng-model="doctor['Street Address 1']" />
</div>
<div class="form-group">
<label>Street Address 2</label>
    <input class="form-control" type="text" name="address2" ng-model="doctor['Street Address 2']" />
</div>
<div class="form-group">
<label>City</label>
    <input class="form-control" type="text" name="city" ng-model="doctor['City']" />
</div>
<div class="form-group">
<label>Zip Code</label>
    <input class="form-control" type="text" name="zip" ng-model="doctor['Zip Code']" />
</div>
<div class="form-group">
<label>State</label>
    <input class="form-control" type="text" name="state" ng-model="doctor['State Code']" />
</div>
<div class="form-group">
<label>Specialty</label>
    <input class="form-control" type="text" name="specialty" ng-model="doctor['Provider Type']" />
</div>
<div class="form-group">
<label>Gender</label>
	<input type="radio" ng-model="doctor['Gender']" value="M" /> Male
	<input type="radio" ng-model="doctor['Gender']" value="F" /> Female
</div>
<a ui-sref="home" class="btn btn-default" type="reset">CANCEL</a>
<button class="btn btn-warn" type="reset">RESET</button>
<button class="btn btn-primary" type="submit">SUBMIT</button>


</form>
</div>
<!-- .container -->
